*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li {
    list-style: none;
    background-color: rgb(238, 17, 17);
    
}

ul li a {
    text-decoration: none;
}

.nav_link li  {
    display: inline-block;
    padding: 0 10px;
    margin-right: 10px;
   
}

header {
    position: fixed;
    overflow: hidden;
}
section p{
    margin-top: 80px;
    padding: 80px;
}

.video{
margin: 10px;
}